<partial name="Sider" model="1" />

<div class="m-grid__item m-grid__item--fluid m-wrapper">
    <div class="m-content">

        <div class="w3-margin-top">
            <div class="col-sm-8 offset-sm-2 text-center">
                <div class="justify-content-center w3-row-padding">

                    <div class="w3-half">
                        <div class="w3-card">
                            <img src="~/Team/Mahmoud Ellqany.jpg" alt="Mahmoud Ellqany"
                                 style="width:100%">
                            <div class="w3-container">
                                <h4>Mahmoud Ellqany</h4>
                                <h5>Team leader</h5>
                                <h6>ellqany@gmail.com</h6>
                            </div>
                        </div>
                    </div>

                    <div class="w3-half">
                        <div class="w3-card">
                            <img src="~/Team/fawzy.jpg" alt="Fawzy Dafet"
                                 style="width:100%;">
                            <div class="w3-container">
                                <h4>Fawzy Dafer</h4>
                                <h5>Web developer</h5>
                                <h6>al2alhan.2019@gmail.com</h6>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="w3-row-padding w3-margin-top">

            <div class="w3-third">
                <div class="w3-card">
                    <img src="~/Team/mohamed fouad.jpg" style="width:100%">
                    <div class="w3-container">
                        <h4>Mohammed Fouad</h4>
                        <h5>Web developer</h5>
                        <h6>fouadm821@yahoo.com</h6>
                    </div>
                </div>
            </div>

            <div class="w3-third">
                <div class="w3-card">
                    <img src="~/Team/yahia saeed.jpg" style="width:100%">
                    <div class="w3-container">
                        <h4>Yahia Saeed</h4>
                        <h5>Web developer</h5>
                        <h6>yahia.sa3ed@yahoo.com</h6>
                    </div>
                </div>
            </div>

            <div class="w3-third">
                <div class="w3-card">
                    <img src="~/Team/ahmed tohamy.jpg" style="width:100%">
                    <div class="w3-container">
                        <h4>Ahmed Tohamy</h4>
                        <h5>Web Design</h5>
                        <h6>ahmedtohamy1911@gmail.com</h6>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
