@model ChangePassword
<partial name="Sider" model="0" />

<div class="m-grid__item m-grid__item--fluid m-wrapper">
    <div class="m-content">

        @{
            List<IdentityError> errors = (List<IdentityError>)TempData["Error"];

            if (errors != null)
            {
                if (errors.Count() > 0)
                {
                    <div class="alert-danger">
                        <ul class="list-group-item-warning list-unstyled">
                            @foreach (var item in errors)
                            {
                                <li>
                                    @item.Description
                                </li>
                            }
                        </ul>
                    </div>
                }
            }
        }

        <div class="w3-modal-content w3-card w3-animate-zoom">

            <br />
            <form asp-controller="Account" asp-action="ChangePassword" method="post">
                <div class="w3-container w3-white">
                    <h4 class="h4 text-center">Change Password </h4>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <input type="hidden" asp-for="UserName" />

                    <div class="form-group w3-container">
                        <label class="form-control-label">UserName</label>
                        <input asp-for="UserName" disabled="disabled" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>

                    <div class="form-group w3-container">
                        <label class="form-control-label" asp-for="OldPassword"></label>
                        <input asp-for="OldPassword" type="password" class="form-control" />
                        <span asp-validation-for="OldPassword" class="text-danger"></span>
                    </div>

                    <div class="form-group w3-container">
                        <label class="form-control-label">Password</label>
                        <input asp-for="Password" type="password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="form-group w3-container">
                        <label class="form-control-label">Confirm Password</label>
                        <input asp-for="ConfirmPassword" type="password" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>

                    <div class="form-inline btn-group w3-container">
                        <button type="submit" class="btn btn-outline-success">
                            <i class="flaticon-edit-1"></i>
                        </button>
                        <a asp-area="" asp-controller="Account" asp-action="Index"
                           class="btn btn-outline-danger">
                            <i class="flaticon-cancel"></i>
                        </a>
                    </div>
                </div>
            </form>
            <br />

        </div>
    </div>
</div>